@import '/src/variables.scss';

.ing {
  padding: 100px 0;
		&__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &:first-child {
        margin-bottom: 200px;
        .ing__heading {
          width: 100%;
        }
      }
      &:nth-child(2) {
        .ing__heading {
          width: calc(100% - 270px);
        }
      }
		}

		&__heading {
      color: $main-color1;
      font-weight: 400;
      font-size: 56px;
      margin-bottom: 50px;
		}

		&__img {
      position: relative;
      width: 40%;
      height: 700px;
      img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        position: absolute;
      }
		}

		&__content {
      width: 50%;
      align-self: center;
		}

    &__contentHeading {
      color: $main-color1;
      line-height: 30px;
      font-size: 20px;
    }

		&__text {
      color: $main-color1;
      line-height: 28px;
      font-size: 18px;
		}

		&__quality {
      display: flex;
      justify-content: end;
      gap: 12px;
      position: relative;
      top: 8px;
		}
    &__plus {
      margin-left: 20px;
      height: 20px;
      width: 20px;
      position: relative;
      &::after, &::before {
        transition: all 0.3s ease;
        position: absolute;
        content: '';
        display: block;
        width: 2px;
        height: 20px;
        background-color: #2f7d39;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
		&__btn {
      margin-top: 40px;
      background-color: transparent;
      padding: 16px 8px 16px 28px;
      font-size: 20px;
      color: #2f7d39;
      border-radius: 32px;
      border: 1px solid #2f7d39;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #2f7d39;
        color: white;
      }
      &:hover .ing__plus {
        &::after, &::before {
          background-color: white;
        }
      }
		}
    &__portal {
      z-index: 100;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: hsla(220,9%,46%,.4);
    }
    &__portalContent {
      @include scroll(#bac0ca, rgba(209,213,219,.6));
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -ms-scroll-chaining: none;
      overscroll-behavior: contain;
    }
    &__portalInner {
      padding: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__portalBtnWrapper {
      z-index: 1;
      position: sticky;
      top: -100px;
      height: 0;
      width: 100%;
    }
    &__portalBtn {
      position: absolute;
      right: 120px;
      top: 120px;
      width: 50px;
      height: 50px;
      padding: 0;
      border-radius: 50%;
      background-color: #dae7d4;
      transform: rotate(45deg);
      cursor: pointer;
      &::before, &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        background-color: black;
        top: 24px;
        left: 16px;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
}

@media (max-width: 1919.98px) {

}

@media (max-width: 1439.98px) {
  .ing {
    padding: 80px 0;
    &__img {
      width: 46%;
    }
    &__heading {
      font-size: 44px;
    }
    &__btn {
      padding: 14px 4px 14px 24px;
      font-size: 18px;
    }
  }
}

@media (max-width: 1023.98px) {
  .ing {
    padding: 60px 0;
    &__img {
      width: 100%;
      height: 51vw;
      margin-bottom: 30px;
    }
    &__content {
      width: 100%;
    }
    &__portalInner {
      padding: 20px;
    }
    &__portalBtnWrapper {
      top: -20px;
    }
    &__portalBtn {
      right: 40px;
      top: 40px;
    }
  }
}

@media (max-width: 767.98px) {
  .ing {
    overflow-x: hidden;
    padding: 0 0 40px;
    &__heading {
      text-align: center;
      font-size: 32px;
      width: 100%;
    }
    &__img {
      transform: scale(1.17);
      margin-bottom: 40px;
    }
    &__block:nth-child(2) &__heading{
      width: 100%;
    }
    &__btn {
      width: 100%;
      justify-content: center;
      padding: 14px 4px;
    }
    &__contentHeading {
      font-size: 18px;
    }
    &__block:first-child {
      margin-bottom: 80px;
    }
    &__block:first-child &__heading {
      margin-bottom: 30px;
      order: 1;
    }
    &__block:first-child &__content {
      order: 2;
    }
    &__block:nth-child(2) &__content {
      order: 1;
    }
    &__block {
      position: relative;
    }
    &__quality {
      z-index: 1;
      margin: -70px auto 0;
      padding: 14px 18px;
      border-radius: 8px;
      order: 1;
      background-color: white;
    }
    &__block:nth-child(2) &__contentHeading {
      cursor: pointer;
      padding: 16px 0;
      position: relative;
      &::after, &::before {
        content: '';
        width: 2px;
        height: 16px;
        position: absolute;
        top: 25px;
        right: 15px;
        background-color: #2f7d39;
        transition: all 0.5s ease;
        transform: rotate(0);
      }
      &::after {
        transform: rotate(90deg);
      }
      &.active::before {
        transform: rotate(90deg);
      }
    }
    &__contentBlock {
      border-bottom: 1px solid #bac0ca;
    }
    &__block:nth-child(2) &__text {
      padding-bottom: 20px;
    }
  }
}