@import '/src/variables.scss';

.footer {
  overflow-x: hidden;
  background-color: $main-color1;
  * {
    color: white;
  }
}
.wrapper {
  margin: 0 auto;
  max-width: 1808px;
  padding: 64px 64px;
}
.section1 {
  justify-content: space-between;
  display: flex;
  padding-bottom: 64px;
}
.lists {
  justify-content: space-between;
  display: flex;
  flex-grow: 3;
}
.listHeading {
  font-size: 18px;
  margin-bottom: 25px;
}
.listItem {
  margin-bottom: 10px;
  font-size: 14px;
}
.connectWrapper {
  flex-grow: 1;
  text-align: right;
}
.connectBlock {
  display: inline-block;
  text-align: left;  
}
.connectHeading {
  font-size: 18px;
  margin-bottom: 25px;
}
.join {
  font-size: 16px;
  margin-bottom: 20px;
}
.inputBlock {
  background-color: white;
  border-radius: 32px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  width: 270px;
  margin-bottom: 20px;
}
.input {
  font-size: 16px;
  color: #0f2e2f;
}
.btn {
  cursor: pointer;
  background-color: transparent;
  img {
    width: 24px;
  }
}
.social {
  display: flex;
  gap: 18px;
}
.icon {
  width: 24px;
}
.divider {
  height: 1px;
  background-color: #d9d9d9;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.section2 {
  padding-top: 64px;
  position: relative;
  align-items: start;
  gap: 30px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 333px;
}
.notes {
  max-width: 680px;
}
.attention {
  line-height: 18px;
  padding: 12px;
  border: 1px solid #fff;
  font-size: 12px;
  margin-bottom: 16px;
}
.note {
  line-height: 18px;
  font-size: 12px;
  margin-bottom: 16px;
}
.settings {
  flex-shrink: 0;
  gap: 15px;
  margin-left: 150px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.settingsDivider {
  height: 15px;
  width: 2px;
  background-color: white;
}
.param {
  cursor: pointer;
}
.right {
  position: absolute;
  bottom: 0px;
  text-align: right;
  right: 0;
}

@media (max-width: 1919.98px) {
  
}

@media (max-width: 1439.98px) {
  .lists {
    flex-direction: column;
  }
  .listBlock {
    border-bottom: 1px solid white;
  }
  .listHeading {
    margin: 24px 0;
    cursor: pointer;
    position: relative;
    &::after,&::before {
      content: '';
      width: 2px;
      height: 12px;
      right: 6px;
      top: 6px;
      background-color: white;
      position: absolute;
    }
    &::before {
      transform: rotate(90deg);
    }
    &.active::after {
      transform: rotate(90deg);
    }
  }
  .list {
    padding-bottom: 10px;
  }
  .connectWrapper{
    flex-grow: 0;
    margin-left: 225px;
  }
  .section3 {
    padding: 56px 0;
    text-align: center;
  }
  .logo {
    width: 300px;
    margin-bottom: 30px;
  }
  .right {
    bottom: 0;
    right: 0;
    text-align: center;
    position: relative;
  }
  .section4 {
    padding: 56px 0;
  }
  .settings {
    margin: 0;
    justify-content: center;
  }
  .social {
    margin-bottom: 30px;
    justify-content: center;
  }
  .section5 {
    padding-top: 56px;
    text-align: center;
  }
  .notes {
    max-width: 780px;
    margin: 0 auto;
  }
  .input {
    width: 100%;
  }
  .inputBlock {
    width: 362px;
  }
}

@media (max-width: 1023.98px) {
  .wrapper {
    padding: 56px 40px;
  }
  .section1 {
    flex-direction: column-reverse;
  }
  .connectWrapper {
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
  }
  .connectBlock {
    text-align: center;
  }
  .inputBlock {
    width: 60vw;
  }
  .lists {
    border-top: 1px solid white;
  }
  .notes {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    padding: 40px 24px;
  }
  .section1 {
    padding: 0;
  }
  .inputBlock {
    width: 100%;
  }
  .connectBlock {
    width: 100%;
  }
  .section4 {
    padding: 40px 0;
  }
  .section5 {
    padding-top: 40px;
  }
}